@import url('_variables.css');

body {
    align-content: center;
    display: flex;
    flex-direction: column;
}

.card {
    background-color: var(--near-white);
    border-radius: var(--border-radius-4);
    max-width: var(--max-width-5);
    position: relative;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    vertical-align: bottom;
    width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.circle {
    border-radius: 50%;
    box-shadow: var(--box-shadow-3);
    line-height: 0;
    padding: 25% 0;
    position: relative;
    text-align: center;
    width: 50%;
}

.circle-icon { transform: translate(-50%, -50%); }

.circle-success {
    background-color: var(--color-success);
    color: var(--white);
    font-size: var(--font-size-4);
}

.circle-warning {
    background-color: var(--color-warning);
    color: var(--white);
    font-size: var(--font-size-4);
}

.circle-error {
    background-color: var(--color-failure);
    color: var(--white);
    font-size: var(--font-size-4);
}

/* Positions around the radial menu (used to position menu icons)

/* 12em = half the width of the radial menu (wrapper) */
.deg-0 { transform: translate(12em); }

.deg-45 { transform: rotate(45deg) translate(12em) rotate(-45deg); }

.deg-90 { transform: rotate(90deg) translate(12em) rotate(-90deg); }

.deg-135 { transform: rotate(135deg) translate(12em) rotate(-135deg); }

.deg-180 { transform: translate(-12em); }

.deg-225 { transform: rotate(225deg) translate(12em) rotate(-225deg); }

.deg-270 { transform: rotate(270deg) translate(12em) rotate(-270deg); }

.deg-315 { transform: rotate(315deg) translate(12em) rotate(-315deg); }

.flex-grid {
    align-content: space-between;
    display: flex;
    justify-content: center;
}

.font-near-black { color: var(--near-black); }

.font-gray { color: var(--gray); }

.font-light-gray { color: var(--silver); }

.grid-icon-1 {
    align-self: center;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    margin-bottom: 10px;
    max-width: 55%;
    text-align: center;
}

.grid-icon-2 {
    align-self: center;
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    margin-bottom: 10px;
    max-width: 55%;
    text-align: center;
}

.grid-icon-3 {
    align-self: center;
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
    margin-bottom: 10px;
    max-width: 55%;
    text-align: center;
}

.grid-label-1 {
    align-self: center;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    text-align: center;
}

.grid-label-2 {
    align-self: center;
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    text-align: center;
}

.grid-label-3 {
    align-self: center;
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
    text-align: center;
}

.icon {
    max-height: 100%;
    width: 80%;
}

.icon-active {
    filter: invert(0%) sepia(1%) saturate(4171%) hue-rotate(79deg) brightness(86%) contrast(87%);
}

.icon-inactive {
    filter: invert(72%) sepia(8%) saturate(14%) hue-rotate(316deg) brightness(93%) contrast(92%);
}

.label-small {
    color: var(--gray);
    font-family: var(--sans-serif);
    font-size: var(--font-size-7);
}

.label-medium { font-size: var(--font-size-3); }

.label-large { font-size: var(--font-size-2); }

.radial-menu {
    border: dashed 1px;
    border-radius: 50%;
    height: 24em;
    margin: 1.75em auto 0;
    /* 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2)) */
    padding: 2.8em;
    position: relative;
    width: 24em;
}

.radial-menu a {
    display: block;
    height: 4em;
    left: 50%;
    margin: -2em;
    position: absolute;
    top: 50%;
    width: 4em;
}

.radial-menu img {
    display: block;
    width: 100%;
}

/* The switch - the box around the slider */
.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

/* Hide default HTML checkbox */
.switch input {
    height: 0;
    opacity: 0;
    width: 0;
}

.switch-icon-left {
    align-self: center;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
}

.switch-icon-right {
    align-self: center;
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
}

/* The slider */
.slider {
    background-color: var(--moon-gray);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    -webkit-transition: .4s;
}

.slider:before {
    background-color: var(--white);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    -webkit-transition: .4s;
    width: 26px;
}

input:checked + .slider { background-color: var(--near-black); }

input:focus + .slider { box-shadow: 0 0 1px var(--near-black); }

input:checked + .slider:before {
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    -webkit-transform: translateX(26px);
}

/* Rounded sliders */
.slider.round { border-radius: 34px; }

.slider.round:before { border-radius: 50%; }

p { font-family: var(--sans-serif); }
