@import url('_variables.css');

/* ------------------------------ *\
 * peach_ui.css
 *
 * Index
 * - BODY
 * - CARDS
 * - ALIGNMENT
 * - CIRCLES
 * - DEGREES
 * - GRIDS
 * - FONTS
 * - ICONS
 * - LABELS
 * - RADIAL MENU
 * - SWITCHES / SLIDERS
 * - PARAGRAPHS
 *
\* ------------------------------ */

/*
 * BODY
 */

body {
    align-content: center;
    display: flex;
    flex-direction: column;
}

/*
 * CARDS
 */

.card {
    background-color: var(--near-white);
    border-radius: var(--border-radius-4);
    max-width: var(--max-width-5);
    position: relative;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*
 * ALIGNMENT
 */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*
 * CIRCLES
 */

.circle {
    border-radius: 50%;
    box-shadow: var(--box-shadow-3);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    padding: 25% 0;
    position: relative;
    width: 50%;
    height: 0;
}

.circle-success {
    background-color: var(--color-success);
    color: var(--white);
    font-size: var(--font-size-4);
}

.circle-warning {
    background-color: var(--color-warning);
    color: var(--white);
    font-size: var(--font-size-4);
}

.circle-error {
    background-color: var(--color-failure);
    color: var(--white);
    font-size: var(--font-size-4);
}

/* radial-circle: circle for radial-menu links */
.radial-circle {
    align-items: center;
    background-color: var(--near-white);
    border-radius: 50%;
    box-shadow: var(--box-shadow-3);
    display: flex;
}

/*
 * DEGREES
 */

/* degree-x: positions around the radial menu (used to position menu icons)
/* 12em = half the width of the radial menu (wrapper) */
.degree-0 {
    transform: translate(12em);
}

.degree-45 {
    transform: rotate(45deg) translate(12em) rotate(-45deg);
}

.degree-90 {
    transform: rotate(90deg) translate(12em) rotate(-90deg);
}

.degree-135 {
    transform: rotate(135deg) translate(12em) rotate(-135deg);
}

.degree-180 {
    transform: translate(-12em);
}

.degree-225 {
    transform: rotate(225deg) translate(12em) rotate(-225deg);
}

.degree-270 {
    transform: rotate(270deg) translate(12em) rotate(-270deg);
}

.degree-315 {
    transform: rotate(315deg) translate(12em) rotate(-315deg);
}

/*
 * GRIDS
 */

.flex-grid {
    align-content: space-between;
    display: flex;
    justify-content: center;
}

.grid-icon-1 {
    align-self: center;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    margin-bottom: 10px;
    max-width: 55%;
    text-align: center;
}

.grid-icon-2 {
    align-self: center;
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    margin-bottom: 10px;
    max-width: 55%;
    text-align: center;
}

.grid-icon-3 {
    align-self: center;
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
    margin-bottom: 10px;
    max-width: 55%;
    text-align: center;
}

.grid-label-1 {
    align-self: center;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    text-align: center;
}

.grid-label-2 {
    align-self: center;
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    text-align: center;
}

.grid-label-3 {
    align-self: center;
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
    text-align: center;
}

/*
 * FONTS
 */

.font-near-black {
    color: var(--near-black);
}

.font-gray {
    color: var(--gray);
}

.font-light-gray {
    color: var(--silver);
}

/*
 * ICONS
 */

.icon {
    max-height: 100%;
    width: 50%;
}

/* icon-active: sets color of icon svg to near-black */
.icon-active {
    filter: invert(0%) sepia(1%) saturate(4171%) hue-rotate(79deg) brightness(86%) contrast(87%);
}

/* icon-inactive: sets color of icon svg to gray */
.icon-inactive {
    filter: invert(72%) sepia(8%) saturate(14%) hue-rotate(316deg) brightness(93%) contrast(92%);
}

/*
 * LABELS
 */

.label-small {
    color: var(--gray);
    font-family: var(--sans-serif);
    font-size: var(--font-size-7);
}

.label-medium {
    font-size: var(--font-size-3);
}

.label-large {
    font-size: var(--font-size-2);
}

/*
 * RADIAL MENU
 */

/* radial-menu: a circular menu container */
.radial-menu {
    border-radius: 50%;
    height: 24em;
    margin: 1.75em auto 0;
    padding: 4em;
    position: relative;
    width: 24em;
}

.radial-menu a {
    height: 4em;
    left: 50%;
    margin: -2em;
    position: absolute;
    top: 50%;
    width: 4em;
}

.radial-menu div {
    height: 4em;
    left: 50%;
    margin: -2em;
    position: absolute;
    top: 50%;
    width: 4em;
}

/*
 * SWITCHES / SLIDERS
 */

/* switch: the box around the slider */
.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

/* hide default HTML checkbox */
.switch input {
    height: 0;
    opacity: 0;
    width: 0;
}

.switch-icon-left {
    align-self: center;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
}

.switch-icon-right {
    align-self: center;
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
}

.slider {
    background-color: var(--moon-gray);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    -webkit-transition: .4s;
}

.slider:before {
    background-color: var(--white);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    -webkit-transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: var(--near-black);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--near-black);
}

input:checked + .slider:before {
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    -webkit-transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*
 * PARAGRAPHS
 */

p {
    font-family: var(--sans-serif);
}
